<footer>
    <div class="social_icons">
        <a class="social_links" href="https://www.linkedin.com/in/emil-eriksson-208ab9297/">
            <i class="footer_icon fa-brands fa-linkedin"></i></a>
        <a class="social_links" href="https://github.com/EmilErikssonKAU">
            <i class="footer_icon fa-brands fa-github"></i></a>
        <a class="social_links" href="https://www.instagram.com/emil_eriksssson/">
            <i class="footer_icon fa-brands fa-instagram"></i></a>
        <a class="social_links" href="https://www.facebook.com/profile.php?id=100014670010758">
            <i class="footer_icon fa-brands fa-facebook"></i></a>
    </div>
    <div class="copyright_info">
        Copyright &copy;2024. Designed by Emil Eriksson
    </div> 
</footer>