<nav class="nav_bar">
    <logo class="nav_item nav_logo"> Emil Eriksson </logo>
    <ul class ="nav_item nav_list">
        <li class="nav_list_item"> <a class="nav_link" href="{% url 'aboutme' %}">About me</a> </li>
        <li class="nav_list_item"> <a class="nav_link" href="{% url 'qualifications' %}">Qualifications</a> </li>
        <li class="nav_list_item"> <a class="nav_link" href="{% url 'projects' %}">Projects</a> </li>
        <li class="nav_list_item"> <a class="nav_link" href="{% url 'contactme' %}">Contact me</a> </li>
    </ul>
</nav>


