{% extends 'base.html' %}

{% block content %}

<div class="qualifications_page">
    <div class="education_section">
        <div class="course_listings">
            <h1 class="section_title">Education</h1>
            <div class="courses completed_courses"> 
                <h1>
                    Courses I have taken:
                </h1>
                <p>
                    Introducation to Computer Science / Mathematics for Engineers I / Programming Thecniques / Circuit Analysis /
                    Software Development Methology / Mathematics for Engineers II / Digital Electronics / Discrete Mathematics /
                    Calculus in several variables

                </p> 
            </div> 
            <div class="courses uncompleted_courses">
                <h1>
                    Courses I will be taking:
                </h1>

                <p>
                    Database techniques / Computer engineering / Operating systems / Data ethics / Datastructures and algorithms /
                    Mathematical statistics / Computer networking I / Programming languages / Linear algebra / 
                    Sustainable computing / Software engineering / Embedded systems / Computer security I /
                    Applied machine learning / Bachelor's project
                </p>
            </div>
        </div>
        <div class="bar_section">
            <div class="bar_description"> Computer Science </div>
            <div class="bar_container">
                <div class="computer_science"></div>
            </div>
            <div class="bar_description"> Mathematics </div>
            <div class="bar_container">
                <div class="mathematics"></div>
            </div>
            <div class="bar_description"> Physics </div>
            <div class="bar_container">
                <div class="physics"></div>
            </div>
        </div>
    </div>

    <div class="job_section">
        <div class="work_experience">
            <h1 class="section_title">Experience</h1>
            <div class="job">
                <logo>

                </logo> 
                <div class="text">
                    <h1 class="title">Healthcare assistant</h1>
                    <h2 class="company">Karlstad kommun</h2>
                    <p class="description">Work within home care services</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}