:root {
    --bonewhite: rgb(249, 246, 238);
    --linkhover: rgb(0, 0, 255);
}

*{
    background-color: var(--bonewhite);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 525;
    margin: 0px;
}

.content{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 560px;
}